.basic {
    color: black;
}

.alert {
    color: red;
}

.complete {
    color: green;
}

.overall {
    padding: 0px 50px 50px 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
}

h1 { 
    text-align: center;
    border-bottom: 1px solid;
    margin-bottom: 50px;
}

.heading {
    border-bottom: 1px solid;
    border-color: black;
    margin-top: 20px;
}

.sub-heading {

}

.button {
    background-color: white;
}

.rename {
    margin-top: 50px;
    text-align: center;
}