.basic {
    color: black;
}

.alert {
    color: red;
}

.complete {
    color: green;
}

.overall {
    padding: 10px 50px 0px 50px;
    font-family: 'Segoe UI', Tahoma, sans-serif;
}

h1 { 
    text-align: center;
    border-bottom: 1px solid;
    margin-bottom: 50px;
}

.heading {
    border-bottom: 1px solid;
    border-color: black;
    margin-top: 20px;
}

.sub-heading {

}

.button {
    background-color: black;
    border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:13px;
	font-weight:bold;
	padding:2px 13px;
	text-decoration:none;
}

.button:hover {
	background-color: white;
    color: black;
}
.button:active {
	position:relative;
	top:1px;
}

.rename {
    margin-top: 50px;
    padding-bottom: 20px;
    text-align: center;
    border-bottom: 1px solid black;
}
